/* ##### GLOBAL STYLES AND IMPORTS ##### */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(44, 44, 44);
  color: #f4f4f4;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

:focus {
  outline: none;
}


/* ##### MAIN ##### */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ##### WEATHER DATA ###### */

.weather {
  display: grid;
  grid-template-areas: 
    "weather__location weather__location"
    "weather__temperature weather__icon"
    "weather__feels-like weather__humidity"
    "weather__description weather__description";
}

.weather__location {
  grid-area: weather__location;
  grid-row: 0 / span 2;
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.weather__temperature {
  grid-area: weather__temperature;
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 0.8rem;
  padding-right: 3rem;
}

.weather__feels-like {
  grid-area: weather__feels-like;
  font-size: 1rem;
  padding-bottom: 1.8rem;
}

.weather__description {
  grid-area: weather__description;
  font-size: 1.4rem;
}

.weather__description::first-letter {
  text-transform: uppercase;
}

.weather__humidity {
  grid-area: weather__humidity;
  font-size: 1rem;
}

#icon {
  padding-top: 0.3rem;
  grid-area: weather__icon;
  font-size: 3rem;
}


/* ##### SEARCH ##### */

.container {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-right: 5rem;
}

input {
  background-color: rgb(44, 44, 44);
  border: none;
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 0.2rem;
  caret-color: #f4f4f4;
  color: #f4f4f4;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

input::placeholder {
  color: #f4f4f486;
}

.search__btn {
  background-color: rgba(44, 44, 44, 0);
  border: none;
  padding-bottom: 0.3rem;
}

.search__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.search__btn i {
  color: white;
  font-size: 1.2rem;
}


/* ##### MEDIA QUERY ##### */

@media (max-width: 760px) {
  .main {
    flex-direction: column;
  }

  .container {
    margin-bottom: 4rem;
  }
}

@media (max-width: 380px) {
  .weather {
    grid-template-areas: 
    "weather__location"
    "weather__temperature"
    "weather__feels-like"
    "weather__description"
    "weather__icon"
    "weather__humidity";
  }

  .search {
    margin: 0;
  }

  .weather__description {
    padding-bottom: 1.5rem;
  }

  #icon {
    padding-bottom: 0.5rem;
  }
}